@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <h3>@User.Identity.Name</h3>
    <div class="container-fluid col-lg-12">
        <div>
            тут будут фильмы
        </div>
    </div>
</div>
